@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin:0px;
    font-family: 'Raleway', sans-serif;
}

.black{
    background-color: black;
    color: white;
}

.red{
    background-color: darkred;
    color:white;
}

nav {
    position:fixed;
    top:0px;
    width:100%;
}

.burger_menu {
    display:none;
}

nav .menu {
    text-align:center;
}

nav .menu .menu__items, nav .menu .logo, .menu__items li {
    display:inline-block;
    vertical-align:middle;
}

.menu .logo img {
    width:170px;
    position: relative;
    top:-5px;
    left:15px;
}

.menu__items li {
    list-style: none;
    padding:20px;
}

.menu__items li a {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:bold;
}

.header{
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
}

.breadcrumb__content {
    max-width:960px;
    margin:0 auto;
}

.content {
    max-width:960px;
    margin:0 auto;
    margin-top:50px;
}

.content-full-width {
    width: 100%;
    text-align: center;
}

.blocco_news {
    display:inline-block;
    width:70%;
}

.news .copertina {
    width:100%;
}

aside {
    display:inline-block;
    width:29%;
    vertical-align: top;
}

.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.black.footer span {
    font-size:large;
}
.breadcrumb{
    padding-top:5px;
    padding-bottom: 5px;
}
.tag{
    background-color: grey;
    padding: 10px;
    margin:5px;
    display:inline-block;
}

.tag a {
    text-decoration:none;
    color:white;
}

.tag:hover {
    background-color:darkred;
}

.blocco_welcome{
    padding: 30px 20%;
}

.blocco_video{
    background-color: black;
}

.input-container{
    display: flex;
}

.blocco_ricerca .fa{
    color:#747474;
    padding: 15px;
    background-color: #f3f3f3;
}

#ricerca_news{
    padding: 15px;
    border: none;
    background-color: #f3f3f3;
    width:100%;
}

#ricerca_news:focus{
    outline: none;
}

#submit_news{
    display: none;
}

.servizio{
    display: inline-block;
    width: 25%;
}

.servizio .fa{
    font-size: 30px;
}

.container_servizi{
    margin-top: 20px;
}